.card-box {
  background: white;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.overlay-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.ant-card {
  border-radius: 16px !important;
}

.ant-table {
  border-radius: 12px !important;
}

.ant-modal-content {
  border-radius: 18px !important;
}

.ant-btn {
  border-radius: 8px !important;
}

.ant-input,
.ant-select-selector  {
  border-radius: 999px !important;
}
.ant-modal-content {
  border-radius: 20px !important;
}

.ant-card {
  border-radius: 16px !important;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.ant-table {
  border-radius: 12px !important;
}
